# Plantilla de Variables de Entorno para el Proyecto TPV
# Copia este archivo a .env y rellena con tus propios valores.

# 1. Base de Datos
# Configuración para tu base de datos PostgreSQL.
DB_USER=
DB_HOST=
DB_DATABASE=
DB_PASSWORD=
DB_PORT=5432

# 2. Configuración de la Impresora
# Ruta a la impresora térmica. Puede ser una ruta de red compartida (ej. \\PC_NAME\PrinterName)
# o un puerto local (ej. COM3). Déjalo en blanco si no se usará impresión.
PRINTER_INTERFACE=

# 3. Puerto para el servidor backend
# El puerto en el que correrá el servidor de Node.js.
PORT=4000

JWT_SECRET=tucontraseñaseguradebeiraqui